# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch checkpoint files (usually large)
*.pt
*.pth

# YOLOv6 config or weights cache (if any)
*.yaml
*.weights

# Environment files
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings folder
.vscode/

# MacOS system files
.DS_Store

# Logs and temp files
*.log
*.tmp
